.animated-text {
    font-family: 'Arial', sans-serif; /* Set font family */
    font-size: 1.5rem; /* Adjust text size */
    color: #FFF; /* Text color */
    line-height: 1.5; /* Line height for readability */
    white-space: pre-wrap;
    display: inline-block; 
    z-index: 10; 
    justify-content: center;
    align-items: flex-start;

  }
  
  .cursor {
    display: inline-block;
    width: 10px; /* Width of the cursor */
    height: 1.5rem; /* Height matching the text size */
    background-color: #FFF; /* Same color as text */
    margin-left: 5px; /* Space between text and cursor */
    animation: blink 1s steps(2, start) infinite; /* Blinking animation */
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .container_text{
    width: 100%;
  }