


.app {
  max-width: 800px; /* Limit content width */
  width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px; /* Space between cards */
  min-height: 100vh;
  background-color: #4a90e2;
  
}
/* Customizing the scrollbar */
.experiences::-webkit-scrollbar {
  width: 8px;
}

.experiences::-webkit-scrollbar-track {
  background: transparent;
}

.experiences::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.experiences::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.experience-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #FFF;
  padding: 2%;
  text-align: left; /* Align title to the left */
  margin-bottom: 2rem;
  margin-top: 1%;
  text-align: center;
}

.experiences{
  width: 88%;
  height: 85%;
  overflow: auto;
  
}
.experience-card {
  border-radius: 8px;
  padding: 1.5rem;
  line-height: 1.6;

  
}

.experience-card__columns {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Date range takes 1 ratio, details take 3 ratio */
  gap: 120px;
  
}

.date-range {
  font-size: 0.9rem;
  color: #FFF;
  margin-bottom: 0rem;
  padding: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.company {
  font-weight: normal;
  color: #a5a5a5;
}

.description {
  margin: 1rem 0;
  color: #d0d0d0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content:left;
  margin-left: -0.3%;

}

.tag {
  background-color: #223452;
  color: #7ad2d4;
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
}

.links {
  margin-top: 1rem;
}

.links a {
  color: #4a90e2;
  text-decoration: none;
  font-size: 0.9rem;
  margin-right: 1rem;
}

.links a:hover {
  text-decoration: underline;
}
