.back-button {
    position: fixed; 
    top: 20px; 
    left: 10px; 
    background: none;
    border: none;
    padding: 5;
    cursor: pointer;
    width: 100px; /* Ensure the button only fits the icon */
    height: 50px; /* Ensure the button only fits the icon */
    display: flex;
    align-items:flex-start; /* Centers the icon vertically */
    justify-content:left; /* Centers the icon horizontally */
  }
  
  .back-icon {
    width: 32px;
    height: 32px;
  }
  
  .back-button:hover .back-icon {
    opacity: 0.8; /* Slight hover effect */
  }
  