.back-button-wrapper {
  position: fixed ;
  left:0px;
  top:20px;
                                                                                    

  padding-left: 50px;
  
  width: auto ;
  height: auto ; 
  z-index: 99999;
  margin: 0 ;
  pointer-events: auto;
  cursor:pointer;

}

.back-icon {
  color: #08edde;
  transition: all 0.3s ease;
  padding: 8px; 
  border-radius: 50%;
  
}

